<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="common/template :: common-header">
</head>
<body>

<div th:replace="common/template :: navbar"/>

<div class="container-fluid">

    <div class="row my-2 ">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <h2 class="align-content-center">Add Employee</h2>
            <form th:action="@{/add}" th:object="${employee}" method="post">
                <div th:replace="common/user_signup_form :: user_form"/>

                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" required="required"
                           th:field="${employee.email}"
                           placeholder="Email"
                    >
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" required="required"
                           th:field="${employee.password}"
                    >
                </div>

                <div class="alert alert-success alert-dismissible fade show"
                     role="alert" th:if="${message}" th:text="${message}">
                    Password do not match .
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <a th:href="@{/users}" class="btn btn-info my-2" role="button" th:if="${message}">List ALL Users</a>


                <button class="btn btn-info btn-block" type="submit">
                    Add New User
                </button>

            </form>
        </div>
        <div class="col-md-4">

        </div>
    </div>


</div>

</body>
<div th:replace="common/template :: js-scripts"></div>
</html>